/* breadcrumbs */

#breadcrumbs span {
  color: #999;
}

#breadcrumbs a {
    color: #888;
    text-decoration: none;
}



/* chapter banner */

.chapter-banner {
  border: 2px solid #485668;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

.chapter-banner p,
.chapter-banner ul,
.chapter-banner li {
  text-align: left;
}

.chapter-banner .chapter-icon {
  margin-top: -40px;
}

.chapter-banner .chapter-title {
  color: #485668;
  font-weight: 900;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.chapter-banner ul,
.chapter-banner li {
  list-style-type: none;
  padding: 0;
}

.chapter-banner li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 16px;
}

.chapter-banner a {
  border-bottom: 1px solid;
  font-weight: 900;
  text-decoration: none;
}

.chapter-banner a:hover {
  border-color: transparent;
}



/* headline */

.single h1.entry-title {
  letter-spacing: -1px;
}



/* author byline */

.author-byline.row {
    margin-top: 20px;
}

.author-headshot {
    margin-right: 10px;
}

.author-byline ul, .author-byline li {
    line-height: 130%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.author-name {
    font-weight: 900;
    margin-bottom: 2px !important;
    margin-top: 5px !important;
    text-transform: uppercase;
}

.author-title {
    color: #888;
    font-size: 14px;
    font-style: italic;
}

.author-link a {
    border-bottom: 1px solid transparent;
    color: #888;
    font-size: 14px;
    padding-bottom: 1px;
    text-decoration: none;
}



/* metadata: date & comment count */

.single .entry-meta {
  color: #888;
  margin-bottom: 0;
}

.single .entry-meta time {
  margin-right: 8px !important;
}

.single .entry-meta .byline a {
    color: #888;
    text-decoration: none;
}



/* author bio */

.author-bio {
    background: #324057;
    border-radius: 5px;
    padding: 20px 20px 0;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.author-bio .author-headshot {
    border: 3px solid #fff;
    margin-top: -70px;
}

.author-bio p {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-family: PT Serif,serif;
    font-style: italic;
    text-align: left;
}

.author-bio .author-name {
  color: #fff;
  font-family: Open Sans,sans-serif;
  font-style: normal;
}

.author-byline .author-bio .author-metadata {
  font-style: normal;
  text-align: center;
}

.author-bio a {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-style: normal;
    text-decoration: none;
}

.author-bio a:hover {
    color: rgba(255,255,255,0.8);
}

.author-bio .author-link a {
    color: #fff;
}

.author-bio .author-link a:hover {
    color: rgba(255,255,255,0.8);
}